<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:component-scan base-package="com.bulbview.recipeplanner" />

	<!-- Turn on AspectJ @Configurable support -->
	<context:annotation-config />
	<context:spring-configured />



	<!-- Turn on @Autowired, @PostConstruct etc support -->
	<!-- <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" 
		/> <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" 
		/> -->

	<bean class="java.lang.String" id="applicationName">
		<constructor-arg value="recipeplanner" />
	</bean>

	<bean class="java.lang.String" id="theme">
		<constructor-arg value="recipeplanner-theme" />
	</bean>

	<bean class="com.vaadin.ui.Window" id="rootWindow">
		<property name="caption" ref="applicationName" />
	</bean>

	<bean class="com.vaadin.ui.Window" id="recipeWindow">
		<property name="modal" value="true" />
		<property name="caption" value="Recipe" />
	</bean>

	<bean id="recipeForm" class="com.vaadin.ui.Form" />

	<bean class="com.vaadin.terminal.ThemeResource" id="applicationLogo">
		<constructor-arg value="images/recipeplannerlogo.jpg" />
	</bean>

	<bean id="embeddedLogo" class="com.vaadin.ui.Embedded">
		<constructor-arg value="" />
		<constructor-arg ref="applicationLogo" />
	</bean>

	<bean id="presenter" class="com.bulbview.recipeplanner.ui.RecipePlannerPresenter" />
	

</beans>
